@model EUTmvc.Models.ChangePasswordModel
@{
    ViewBag.Title = "Thay Đổi Mật Khẩu Tài Khoản";
}
<div class="col-md-8 col-md-offset-2">
    <div class="page-header">
        <h2>@ViewBag.Title</h2>
    </div>

    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-md-5 col-md-offset-4">
                    <small>
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert" href="#">×</a>@Html.Raw(ViewBag.Message.ToString())
                            </div>
                        }
                    </small>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    <small>
                        @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "help-block" })
                    </small>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    <small>
                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-block" })
                    </small>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-5">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <small>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-block" })
                    </small>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-5 col-md-offset-4">
                    <button type="submit" class="btn btn-default">Đổi Mật Khẩu</button>
                </div>
            </div>
        }
    </div>
</div>
