@model EUTmvc.Models.ForgotPasswordModel
<div>
    @using (Html.BeginForm("ForgotPassword", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <div class="form-group">
                <span class="help-block">Nhập địa chỉ Email đã đăng ký tài khoản
                    <br />
                    Hệ thống sẽ gửi thông tin hướng dẫn bạn khôi phục lại mật khẩu. 
                </span>
            </div>
            <div class="col-md-9 col-md-offset-1">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                    <small>
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block" })
                    </small>
                </div>
                <div class="form-group">
                    @Html.Partial("Parital/_Captcha")
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">C</span>
                        @Html.TextBoxFor(m => m.CaptchaText, new { @class = "form-control", @placeholder = "Captcha" })
                    </div>
                    <small>
                        @Html.ValidationMessageFor(m => m.CaptchaText, null, new { @class = "help-block" })
                    </small>
                </div>
                <div class="form-group">
                    <small>
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert" href="#">×</a>@Html.Raw(ViewBag.Message.ToString())
                            </div>
                        }
                    </small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                        Gửi
                    </button>
                    <p class="help-block">
                        <small class="text-muted">
                            @Html.ActionLink("Tài khoản truy cập", "Login", "Account")
                        </small>
                    </p>
                </div>
            </div>
        </fieldset>
    }
</div>
