@{
    ViewBag.Title = "ExamAnswer";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

@Styles.Render("~/Content/jquerycountdown")
@Scripts.Render("~/bundles/jquerycountdown")
<script src="~/Scripts/CountdownJavaScript.js"></script>
<div class="exam-body">
    <div class="col-sm-9">
        <div class="exam-container">
            <div class="exam-menu">
                <ul>
                    <li class="child_c_1">
                        <div class="child_nav_left">
                            <a href="#">Thi thử</a>
                        </div>
                        <div class="child_nav_right">&nbsp;</div>
                    </li>
                    <li class="child_c_2">
                        <div class="child_nav_left_c">@Model.Subtest</div>
                        <div class="child_nav_right_c">&nbsp;</div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="exam-title">
                @Model.Name
            </div>
            <div class="col-sm-offset-4">
                <div id="defaultCountdown"></div>
            </div>
            <div class="exam-question">
                <div class="margin-top-percent-7">
                    <div class="col-sm-4 text-center pull-left">
                        <p><strong>@Model.CreateBy</strong> </p>
                        <p>&mdash;&mdash;&mdash;&mdash;&mdash;</p>
                        <p>@Model.Title</p>
                    </div>
                    <div class="col-sm-6 text-center pull-left col-sm-offset-2">
                        <p class="text-center"><strong>@Model.Name</strong></p>
                        <p><strong>&nbsp;Môn: @Model.Subtest; @Model.GradeName </strong></p>
                        <p>Thời gian làm bài: @Model.AllTime phút; Mã đề: @Model.Code </p>
                     </div>
                    <div class="clear"></div>
                    <div class="text-center margin-top-percent-7">
                        <strong>@Model.Description</strong>
                        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</p>
                    </div>
                </div>
                @using (Html.BeginForm("ExamResult", "Exam"))
                {
                    @Html.HiddenFor(q => Model.Name)
                    @Html.HiddenFor(q => Model.CreateBy)
                    @Html.HiddenFor(q => Model.Title)
                    @Html.HiddenFor(q => Model.Subtest)
                    @Html.HiddenFor(q => Model.GradeName)
                    @Html.HiddenFor(q => Model.AllTime)
                    @Html.HiddenFor(q => Model.Description)
                    @Html.HiddenFor(q => Model.Code)
                <div class="question-body">
                    @{int? Suggestion = 0; int dem = 0; ;}
                    @foreach (var item in Model.ListQuestion)
                    {   
                        dem++;
                        <div class="text-bold">
                            @if (item.Suggestion != null)
                            {   
                                if (Suggestion != item.SuggestionID)
                                { 
                                     Suggestion = item.SuggestionID;
                                    <em>@item.Suggestion</em>
                                }
                            }
                            <div class="margin-top-percent-2">
                                @if (Model.Subtest.Equals("Tiếng Anh"))
                                {
                                 <span class="text-bold">Question @dem:</span> 
                                }
                                else
                                {
                                    <span class="text-bold">Câu @dem:</span> 
                                }
                                <span>@item.Contents</span>
                            </div>
                            @Html.HiddenFor(q => Model.ListQuestion[dem-1].ID)
                            <div class="radio">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <label class="radio-inline">
                                          @Html.RadioButtonFor(q => q.ListQuestion[dem-1].SelectedAnswer,item.ID + "A") @item.AnswerA
                                        </label>
                                     </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="radio-inline">
                                          @Html.RadioButtonFor(q => q.ListQuestion[dem-1].SelectedAnswer,item.ID + "B") @item.AnswerB
                                        </label>
                                     </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="radio-inline">
                                          @Html.RadioButtonFor(q => q.ListQuestion[dem-1].SelectedAnswer,item.ID + "C") @item.AnswerC
                                        </label>
                                     </div>
                                    <div class="col-lg-3 col-md-6">
                                        <label class="radio-inline">
                                          @Html.RadioButtonFor(q => q.ListQuestion[dem-1].SelectedAnswer,item.ID + "D") @item.AnswerD
                                        </label>
                                     </div>
                                </div>
                            </div>
                       </div>        
                    }
                    @if (Model.Subtest.Equals("Tiếng Anh"))
                    {
                        <div class="text-center margin-top-percent-3">---------- <strong>THE END</strong> ---------- </div>
                    }
                    else
                    {
                        <div class="text-center margin-top-percent-3">---------- <strong>HẾT</strong> ---------- </div>
                    }
                    <div class="text-center margin-top-percent-3">
                        <button title="Nộp bài" class="btn btn-primary btn-lg" type="submit">Nộp bài <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                    </div>
                </div>
                }
            </div>
        </div>
        
    </div>
    <div class="col-sm-3">
        <h5>Bên phải làm cái éo gì thì làm</h5>
    </div>
</div>