@using System.Web.UI.WebControls
@model EUTmvc.Models.Evaluation
@{
    ViewBag.Title = "Learning";
}

<div>
    @if (ViewBag.Message != null)
    {
        @Html.Raw(ViewBag.Message.ToString())
    }
    else
    {
        using (Html.BeginForm("LearnResult","Exam",FormMethod.Post))
        {
        <div class="col-xs-12">

            <div class="col-xs-12" style="box-shadow: 0 0 5px gray; padding: 0 30px;">
                <div class="form-group">
                    <div class="page-header">
                        <h2>Môn: @Html.Raw(Model.Subtests)</h2>
                        <h3>Chương: @Html.Raw(Model.Category)</h3>
                        @Html.HiddenFor(m=>Model.Subtests)
                        @Html.HiddenFor(m=>Model.Category)
                    </div>
                </div>
                <div class="col-lg-12">
                    @for (int i = 0; i < Model.Questions.Count; i++)
                    {
                        <div class="form-group">
                            @Html.HiddenFor(x => Model.Questions[i].ID)
                            <div class="question">
                                <p style="font-size: 20px">Câu @Model.Questions[i].TheNumber :</p>
                                @Html.Raw(Model.Questions[i].QuestionText)
                            </div>
                            <div class="answer">
                                @foreach (var a in Model.Questions[i].Answers)
                                {
                                    <div class="radio">
                                        <label>
                                            @Html.RadioButtonFor(b => Model.Questions[i].SelectedAnswer, a.code)
                                            @a.code . @Html.Raw(a.AnswerText)
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-3">
                        <button type="submit" class="btn btn-default">Nộp Bài</button>
                    </div>
                </div>
            </div>
        </div>
        }
    }
</div>

