@model EUTmvc.Models.Learn

@{
    ViewBag.Title = "Luyện Tập";
}
<script type="text/javascript">
    $(document).ready(function () {
        var dropdownList = $("#SelectSubtest");
        var list = $("#SelectCategory");
        loadData();
        dropdownList.change(function () {
            loadData();
        });
        function loadData() {
            list.prop('disabled', true);
            var id = dropdownList.val();
            if (id != '') {
                $.getJSON("/Exam/GetJsonData", { id: id }, function (data) {
                    list.fillSelect(list, data);
                })
                    .always(function () {
                        list.prop('disabled', false);
                    })
                    .error(function () {
                        list.clearSelect();
                        alert('Error');
                    });
            }
        }
    });
    $.fn.clearSelect = function () {
        return this.each(function () {
            if (this.tagName == 'SELECT')
                this.options.length = 1;
        });
    }
    $.fn.fillSelect = function (dropdownList, data) {
        return this.clearSelect().each(function () {
            if (this.tagName == 'SELECT') {
                //dropdownList.append('<option val="1">One</option>');
                $.each(data, function (i, item) {
                    dropdownList.append($('<option>', {
                        value: item.Value,
                        text: item.Text
                    }));
                });
            }
        });
    }
</script>
<div class="col-lg-10 col-lg-offset-1">
    <div class="page-header">
        <h2>Chào mừng bạn đến với Website thi trực tuyến</h2>
    </div>
    <div>
        @using (Html.BeginForm("Learning","Exam",FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label class="col-md-3 control-label">Chọn Môn</label>
                <div class="col-lg-4">
                    @Html.DropDownListFor(m => m.SelectSubtest, new SelectList(Model.Subtests, "Value", "Text"), "Chọn Môn Thi", new { @class = "form-control" })

                    <small class="help-block">
                        @Html.ValidationMessageFor(m => m.SelectSubtest)
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Chọn Nội Dung</label>
                <div class="col-lg-4">
                    @Html.DropDownListFor(m => m.SelectCategory, new SelectList(""), "Chọn Nội Dung Thi", new { @class = "form-control", @disabled = "" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-md-offset-3">
                    <button type="submit" class="btn btn-default">Làm Bài Thi</button>
                </div>
            </div>
        }
    </div>
    <hr />
    <div class="form-group">
        <ul>
            <li>Sau khi trả lời hết tất cả các câu hỏi , bạn click vào nút “Nộp bài” để kết thúc bài thi . Hệ thống sẽ đối chiếu câu trả lời của bạn và đáp án của đề thi và trả kết quả về cho bạn.</li>
            <li>Nếu hết thời gian làm bài mà bạn chưa click vào nút “Nộp bài”, hệ thống sẽ tự động chuyển sang trang kết quả.</li>
            <li class="thi_last">Nếu trong quá trình làm bài thi nếu bạn đóng của sổ thi lại hoặc refresh (F5) lại trang thi bài thi đó sẽ bị hủy không được tính điểm.</li>
        </ul>
    </div>
</div>




