@model EUTmvc.Utils.Papers
@{
    ViewBag.Title = "Papers";
}
@Styles.Render("~/Content/jquerycountdown")
@Scripts.Render("~/bundles/jquerycountdown")
<script src="~/Scripts/CountdownJavaScript.js"></script>
<div class="exam-body">
    <div class="col-sm-9">
        <div class="exam-container">
            <div class="exam-menu">
                <ul>
                    <li class="child_c_1">
                        <div class="child_nav_left">
                            <a href="#">Thi thử</a>
                        </div>
                        <div class="child_nav_right">&nbsp;</div>
                    </li>
                    <li class="child_c_2">
                        <div class="child_nav_left_c">Tiếng anh</div>
                        <div class="child_nav_right_c">&nbsp;</div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="exam-title">
                Đề thi thử tiếng anh lần thứ I
            </div>
            <div class="col-sm-offset-4">
                <div id="defaultCountdown"></div>
            </div>
            <div class="exam-question">
                <div class="margin-top-percent-7">
                    <div class="col-sm-4 text-center pull-left">
                        <p><strong>BỘ GIÁO DỤC VÀ ĐÀO TẠO</strong> </p>
                        <p>&mdash;&mdash;&mdash;&mdash;&mdash;</p>
                        <p>ĐỀ CHÍNH THỨC </p>
                    </div>
                    <div class="col-sm-6 text-center pull-left col-sm-offset-2">
                        <p class="text-center"><strong>ĐỀ THI TUYỂN SINH ĐẠI HỌC NĂM 2014 </strong></p>
                        <p><strong>&nbsp;Môn: TIẾNG ANH; Khối  D </strong></p>
                        <p>Thời gian làm bài: 90 phút, không kể thời gian phát đề </p>
                    </div>
                    <div class="clear"></div>
                    <div class="text-center margin-top-percent-7">
                        <strong>ĐỀ THI GỒM 80 CÂU</strong>
                        <hr />
                    </div>
                </div>
                <div class="margin-top-percent-7">
                        @if (ViewBag.Message != null)
                        {
                            @Html.Raw(ViewBag.Message.ToString())
                        }
                        else
                        {
                            using (Html.BeginForm())
                            {
                                <div class="col-lg-12">
                                    @for (int i = 0; i < Model.Questions.Count; i++)
                                    {
                                        <div class="form-group">
                                            @Html.HiddenFor(x => Model.Questions[i].Id)
                                            <div class="question">
                                                <span style="font-size: 20px">Câu @(i+1) :</span>
                                                @Html.Raw(Model.Questions[i].Text)
                                            </div>
                                            <div class="answer">
                                                @foreach (var a in Model.Questions[i].Answers)
                                                {
                                                    <div class="radio">
                                                        <label>
                                                            @Html.RadioButtonFor(b => Model.Questions[i].SelectAnswer, a.Value)
                                                            @a.Code .@Html.Raw(a.Text)
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5 col-md-offset-3">
                                        <button type="submit" class="btn btn-default">Nộp Bài</button>
                                    </div>
                                </div>
                            }
                        }
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-3">
        <h5>Bên phải làm cái éo gì thì làm</h5>
    </div>
</div>

<h2>Papers</h2>


